p{
    text-align: justify;
    font-size: 2.2vw
}
#particles-js{
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: -1;
}

.name{
    font-size: 3.7vw;   
    letter-spacing: 0.1em 
}
#presentation{
    display: flex;
    align-items: center;
   
 }


img {
    opacity: 70%;
    width:350px;
    height:350px;
    border-radius: 150px;
}

@media (max-width: 767px) {
    .name{
        font-size: 27px;   
    }
    p{
        font-size: 20px
    }
}

@media (max-width: 575px ) {
     img{
        width: 70vw;
        height: 70vw;
    }  
}