<div class="row" id="presentation">
  <div class="presentacion col-lg-7 col-md-6 col-12">
    <h1 class="name">Hi There,</h1>
    <h1 class="name">
      I'm Cristian
      <span class="text-warning">Arias</span>
    </h1>

    <p class="mt-5">
      I'm
      <span class="text-danger"><span class="auto-type"></span></span>
    </p>

    <a
      href="../../../assets/CV_CristianArias.pdf"
      download="CV_CristianArias.pdf"
    >
      <button class="btn btn-info mt-3" type="button">
        Download CV <i class="bx bxs-chevron-down-circle"></i></button
    ></a>
    <div class="home mt-5">
      <a href="https://www.facebook.com/cristian.arias.622/" target="_blank"
        ><i class="bx bxl-facebook-circle"></i
      ></a>
      <a href="https://github.com/carias47" target="_blank"
        ><i class="bx bxl-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/crisstian-arias/" target="_blank"
        ><i class="bx bxl-linkedin"></i
      ></a>
    </div>
  </div>
  <div class="col-lg-5 col-md-6 col-12 text-lg-end text-center mt-lg-5">
    <img
      src="../../../assets/about.gif"
      class="img-fluid rounded-circle"
      alt="Example gif"
    />
  </div>
</div>
