<div class="row" id="about">
  <div class="col-lg-7 col-12">
    <h3 class="mb-4">About me</h3>
    <p>
      Apasionado por crear soluciones visuales e interactivas que mejoren la
      experiencia del usuario en la web. 💻
    </p>
    <p>
      Me encanta trabajar con tecnologías de vanguardia y siempre estoy buscando
      formas de mejorar mis habilidades. he tenido la oportunidad de trabajar en
      una variedad de proyectos que me han permitido desarrollar habilidades
      como desarrollador fullstack con tecnologías como Angular, Node js,
      Express, Mongo DB, Nestjs etc.
    </p>
    <p>
      Además de mi trabajo en desarrollo, disfruto aprendiendo nuevas
      tecnologías y mejorando mis habilidades. También me gusta pasar tiempo al
      aire libre, hacer ejercicio y viajar.
    </p>
  </div>
  <div class="col-lg-5 col-12 text-center text-lg-end">
    <img src="../../../assets/me.jpg" class="img-fluid" alt="Cristian" />
  </div>
</div>
