<div class="row" id="about">
  <div class="mb-5">
    <p id="tittle" class="mb-4 text-center">Hago realidad ideas con Tecnología</p>
    <p class="frametext text-center">& Desarrollo Web</p>
  </div>

  <div class="col-lg-4 col-12 ">

    <img src="../../../assets/me.png" class="img-fluid" alt="Cristian" />
  </div>
  <div class="presentation col-lg-8 col-12 mt-2">
    <h3 class="text-start">Sobre mí</h3>
    <p>
      Como desarrollador full-stack de nivel intermedio, he adquirido experiencia trabajando en proyectos B2C y B2B
      durante más de dos años, contribuyendo al crecimiento de empresas tecnológicas únicas. Combino la creatividad con
      habilidades técnicas para dar vida a las ideas utilizando tecnologías como Angular, Node.js, Express, entre otras.
      Disfruto simplificar conceptos complejos y siempre busco crecer, aprender y crear soluciones funcionales, bien
      diseñadas y de alto rendimiento.
    </p>

    <div class="row">
      <!-- Redes sociales -->
      <div
        class="col-md-6 col-12 d-flex justify-content-lg-start justify-content-md-start justify-content-center  mb-3">
        <div class="home">
          <a href="https://www.facebook.com/cristian.arias.622/" target="_blank"><i
              class="bx bxl-facebook-circle"></i></a>
          <a href="https://github.com/carias47" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/crisstian-arias/" target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <!-- Botón CV -->
      <div class="col-md-6 col-12 d-flex justify-content-center justify-content-md-end">
        <a href="../../../assets/CV_CristianArias.pdf" download="CV_CristianArias.pdf">
          <button class="btn btn-info" type="button">
            Descargar CV <i class="bx bxs-chevron-down-circle"></i>
          </button>
        </a>
      </div>
    </div>




  </div>