<nav class="navbar navbar-expand-lg custom-navbar w-100 ">
  <div class="container-fluid">
    <!-- Botón hamburguesa para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
      aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse justify-content-center" id="mainNav">
      <ul class="nav d-flex flex-column flex-lg-row align-items-center gap-3 mb-0">
        <img src="../../../assets/yotas.png" alt="Logo" class="nav-logo" />


        <li class="nav-item">
          <a class="nav-link custom-link" href="portfolio/#about">SOBRE MI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="portfolio/#skills">SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="portfolio/#cetifieds">CERTIFICADOSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="portfolio/#projects">DESARROLLOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="portfolio/#contact">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>