<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="portfolio/#cristian">Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="portfolio/#about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="portfolio/#skills">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="portfolio/#projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="portfolio/#contact">Contact</a>
  </li>
</ul>
