<div id="particles-js"></div>
<app-nav></app-nav>

<main class="main-content">
  <div class="container animate__animated animate__fadeIn text-center">
    <div id="cristian" class="py-5"><app-cristian></app-cristian></div>
    <div id="about" class="py-5"><app-about></app-about></div>
    <div id="skills" class="py-5"><app-skills></app-skills></div>
    <div id="projects" class="py-5"><app-portfolio></app-portfolio></div>
    <div id="contact" class="py-5"><app-contact></app-contact></div>
  </div>
</main>


<app-footer></app-footer>