#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .card {
    width: 180px;
    height: auto;
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(145deg, #503636, #2a2d3a);
    border-left: 3px solid #dac5a7;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    text-align: center;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }
  
    img {
      height: 120px;
      margin-top: 15px;
      object-fit: contain;
    }
    
  }



  .certification-card-dark {
    width: 350px;
    max-width: 100%;
    height: auto;
    background: linear-gradient(-45deg, #1c1f2b, #2a2d3a, #1c1f2b, #2a2d3a);
    background-size: 150% 150%;
    background-position: 0% 50%;
    animation: animatedGradient 10s ease infinite;
    border-left: 4px solid #f4f5f759;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    min-height: 180px;
    overflow: hidden;
  }


  .certification-card-dark:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 32px rgba(74, 144, 226, 0.3);
    border-left-color: #7ab0ff;
  }
  
  .btn-glow {
    background-color: #4a90e2;
    color: #dac5a7;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.3);
  }
  
  .btn-glow:hover {
    background-color: #6aa7f5;
    color: #fff;
  }
  


  @keyframes animatedGradient {
    10% {
      background-position: 0% 0%;
    }
    
    50% {
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 0%;
    }
  }