.footer {
  background-color: #000000e0; /* Fondo negro sólido */
  color: #ffffff; /* Texto blanco */
  text-align: center;
}

.footer .logo-footer {
  height: 40px;
  margin-bottom: 0.5rem;
  filter: brightness(0) invert(1);
}

.footer p {
  margin: 0.5rem 0;
  font-size: 12px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
 
}
